*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe',sans-serif;
}

.header-estilo{
    background-color: black;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px  solid   rgb(0, 204, 255);
}

nav ul{
    display:flex;
    list-style: none;
    gap: 20px;
}

nav a{
    color: rgb(98, 140, 153);
    text-decoration: none;
    font-weight: bold;
}

.container{

    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card{
    background-color: black;
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px red;
    margin: 1%;

}

.logo-redonda{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 3px solid blue;
    margin-bottom: 20px;
    object-fit: cover;
}
#valor-final{
    color: red;
}

.titulo{
    color: red;
}

.rodape{
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
    color: rgb(16, 16, 231);
}

.btn-compra{
    color: black;
    background-color: aqua;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

}